main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 15px;
    width: 60%;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.linkss{
    display: flex;
    color: #156cb3;
    text-decoration: none;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.linkss:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}